


@font-face {
    font-family: 'shine_personal_useregular';
    src: url('../fonts/shine_personal_use-webfont.woff2') format('woff2'),
         url('../fonts/shine_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


    font-family: 'bratsy_script_demoreguler';
    src: url('../fonts/bratsy_script_demo-webfont.woff2') format('woff2'),
         url('../fonts/bratsy_script_demo-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

    font-family: 'oaklashregular';
    src: url('../fonts/oaklash-webfont.woff2') format('woff2'),
         url('../fonts/oaklash-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-family: 'bratsy_script_demoreguler';
    font-size: 110px;
    color: white;
    
}
td ,th{
  
  color: white;
  
}

.table th,
.table td {
    padding: 0.25rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.container-login100-form-btn {
     text-align: center;
   }
   
   .login-form-btn {
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: inline-block;
     justify-content: center;
     align-items: center;
     padding: 0 20px;
     width: 15%;
     height: 40px;
     border-radius: 10px;
     background: #6675df;
   
     font-family: Montserrat-Bold;
     font-size: 12px;
     color: #fff;
     line-height: 1.2;
     text-transform: uppercase;
     letter-spacing: 1px;
   
     -webkit-transition: all 0.4s;
     -o-transition: all 0.4s;
     -moz-transition: all 0.4s;
     transition: all 0.4s;
   }

   .login2-form-btn {
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: inline-block;
     justify-content: center;
     align-items: center;
     padding: 0 20px;
     width: 23%;
     height: 40px;
     border-radius: 10px;
     background: 	#008000;
   
     font-family: Montserrat-Bold;
     font-size: 12px;
     color: #fff;
     line-height: 1.2;
     text-transform: uppercase;
     letter-spacing: 1px;
   
     -webkit-transition: all 0.4s;
     -o-transition: all 0.4s;
     -moz-transition: all 0.4s;
     transition: all 0.4s;
   }
   
   .login100-form-btn:hover {
     background: #333333;
   }

   .login100-form-title {
    width: 100%;
    display: block;
    font-family: bratsy_script_demoreguler;
    font-size: 81px;
    color: #333333;
    line-height: 0.2;
    text-align: center;
  }