@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h3 {
    font-family: 'Bungee Shade', cursive;
    font-size: 44.72px;
}
th{
    font-family: 'Pacifico', cursive

}

